{ BasedOnStyle: WebKit, BreakBeforeBraces: Allman, IndentWidth: 4, TabWidth: 4, UseTab: Always, IndentCaseLabels: true, ColumnLimit: 0, PointerAlignment: Right, AlignConsecutiveMacros: AcrossEmptyLines, MaxEmptyLinesToKeep: 1, SpaceAfterCStyleCast: true, SpacesInParentheses: true, SpacesInSquareBrackets: true, SpacesInCStyleCastParentheses: true }